@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

*{
    font-family: "Alef Hebrew",
        “Helvetica Neue”,
        Helvetica,
        Arial,
        sans-serif;
}

* {
    margin: 0;
    padding: 0;
}



.headerp {
    width: 100%;
    height: 200px;
}

#nav-bar {
    top: 0;
    z-index: 10;
    color: azure;
    background-image: linear-gradient(to right, #c2b280, #fffafa);
    font-weight: bold;!important;
}

/*קלאס אשר מייצר הבלטה על הנאב-בר כאשר העכבר מסומן עליו*/
.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    font-size: 1.2em;
    background-color: red;  /*Sets the text hover color on navbar*/
    text-decoration: underline;
}

.navbar {
    padding: 0 !important;

}

.navbar-brand {
    height: 40px;
    padding-left: 20px;
    margin-bottom: 20px;

}



.navbar-nav li {

    padding: 0 5px;
}

.navbar-nav li a {

    float: right;

}

.fa-bars {
    color: #000000;
    !important;
    font-size: 200px;
    !important;
}

.navbar-toggler {
    outline: none;
    !important;

}




/*--------------*/
.test {
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 2%;

}

main {

    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    opacity: 0.95;
    overflow:auto;
}

#form{
    background-color: #f0eee1;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2%;
    border: 3px solid  #f0eee1;
    border-radius: 2%;

}

.form-group {
    text-align: right;
    direction: rtl;
}

.align-right{
    text-align: right; 
}

.align-right1{
    text-align: right; 
    margin-right: 10%;
    direction: rtl;
}

#submit{
    background-color: #336600;
    border: #336600;
}


/*-------------------footer --------------*/

footer {
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    padding-top: 15px;
    opacity: 0.9;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.95;
    color: black;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #e4405f;
    color: white;
}
